<div >
    <label> Company Bank Acount No</label>
    <input type="number" class ="form-control" id = "totalSalary"
        [(ngModel)] = "accnum" name = "totalSalary">
</div>
    <div >
        <label> TotalSalary</label>
        <input type="number" class ="form-control" id = "totalSalary"
            [(ngModel)] = "sumsalary" name = "totalSalary">
    </div>

    <div >
        <label> Available Company Balance</label>
        <input type="number" class ="form-control" id = "totalSalary"
            [(ngModel)] = "carbal" name = "totalSalary">
    </div>

    <td> <button (click) = "transferbalance()" class = "btn btn-info"> Process</button>

    