<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <ul class = "navbar-nav" id="nav">
        <li class = "nav-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link" ><b>Employee List</b></a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link" ><b>Add Employee</b></a>
        </li>
        <li class = "nav-item">
            <a routerLink="salaryes" routerLinkActive="active" class="nav-link" ><b>Salary</b></a>
        </li>
        <li class = "nav-item">
            <a routerLink="grade" routerLinkActive="active" class="nav-link" ><b>Grade</b></a>
        </li>
        <li class = "nav-item">
            <a routerLink="balance" routerLinkActive="active" class="nav-link" ><b>Add Balance</b></a>
        </li>
        <li class = "nav-item">
          <a routerLink="paidsalary" routerLinkActive="active" class="nav-link" ><b>Paid salary</b></a>
      </li>
      <li class = "nav-item">
        <a routerLink="empbank" routerLinkActive="active" class="nav-link" ><b>Emp account</b></a>
    </li>


    </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class = "container">
    <router-outlet></router-outlet>
</div>
<footer class = "footer">
    <div class = "container">
        <!-- <span>All Rights Reserved 2020 @JavaGuides</span> -->
    </div>
</footer>
